{% extends 'base.html.twig' %}

{% block body %}
    <div class="w3-panel w3-display-container w3-theme-l2 w3-large w3-padding-large w3-leftbar w3-border-theme">
    <span onclick="this.parentElement.style.display='none'"
        class="w3-button w3-display-topright">X</span>
        <p>Złożyłeś zamówienie</p>
    </div>
    <div class="w3-center w3-padding-24">
        <p class="w3-text-theme">ID zamówienia</p>
        <h3>{{ "%04d" |format(userOrder.id) }}</h3>
        <hr/>
        <p class="w3-text-theme">Data złożenia zamówienia:</p>
        <h4>{{ userOrder.createdAt| date("d/m/Y H:i") }}</h4>
        <hr>
        Na <a href="{{ path('fos_user_profile_show') }}" class="w3-text-theme">swoim profilu</a> możesz śledzić status swojego zamówienia.
        <hr/>
        Informacje dotyczące płatności<br/>
        <a href="{{ path('payment', { 'orderId' : userOrder.id }) }}"><button class="w3-button w3-theme-l2">Przejdź do płatności</button></a>
    </div>

{% endblock %}

{% block rightColumn %}
{% endblock %}