{% extends 'base.html.twig' %}

{% block body %}
    <div class="w3-center">
    <h1>BŁĄD</h1>
    <hr/>
    <h3>Wróć do <a href="{{ path('homepage') }}" class="w3-text-theme">strony domowej</a></h3>
    </div>
{% endblock %}