{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
    <a href="{{ path('fos_user_change_password') }}">Zmień hasło</a>
{% endblock fos_user_content %}
