<div class="w3-center w3-padding">
    {% set quantity = app.session.get('quantity') %}
    {% if quantity is not null %}
    {{ quantity }}<br/>
    <a href="{{ path('clearCart') }}" class="w3-button w3-theme-l4 w3-hover-theme w3-round w3-small">Opróżnij koszyk</a>
    {% else %}
    Koszyk jest pusty
    {% endif %}
</div>