{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align:center; margin-top:40px;">
        <h1>Witaj na stronie{% if app.user %}, {{ app.user }}{% endif %}  (:</h1>
    </div>
{% endblock %}