{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align:center; margin-top:40px;">
        <a href="{{ path('fos_user_registration_register') }}">REJESTRACJA</a><br/>
        <a href="#">Wyświetl uzytkowników</a>
    </div>
{% endblock %}