{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1>Witaj na stronie{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}, {{ app.user.username }}{% endif %}  (:</h1>
    </div>
{% endblock %}