{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="text-center" style="max-width:500px;margin:0 auto;">
        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% include "@FOSUser/Registration/register_content.html.twig" %}
        {% endif %}
    </div>
{% endblock fos_user_content %}
