{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align:center; margin-top:40px;">
    <h1>Rejestracja</h1>
        <form method="post" action="{{ path('confirm') }}">
            <input type="text" name="name" placeholder="Imię"/><br/>
            <input type="password" name="password" placeholder="Hasło"/><br/>
            <input type="submit" value="wyślij"/>
        </form>
    </div>
{% endblock %}
