{% extends 'AppBundle:Admin:admin.html.twig' %}

{% block body %}
    <ul class="w3-ul w3-text-theme">
    {% for user in users %}
        <li class="w3-padding-16 w3-hover-theme">
            <i class="fa fa-user fa-2x w3-left w3-circle w3-margin-right" aria-hidden="true"></i>
            <span class="w3-large">{{ user.username }} | {{ user.email }}</span>
            <span class="w3-right">Zobacz zamówienia</span>
            <br/>
        </li>
    {% endfor %}
    </ul>
{% endblock %}