{% extends "@FOSUser/layout.html.twig" %}
{#{% extends '::base.html.twig' %}#}

{% block fos_user_content %}
    <div class="text-center" style="max-width:500px;margin:0 auto;">
        {% if not app.user %}
        {{ include('@FOSUser/Security/login_content.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
